In [17]:
import pandas as pd

Population_sa2 preprocess

In [18]:
xls = pd.ExcelFile('../../data/raw/external_dataset/population_sa2.csv')
sheets = xls.sheet_names
sheets

['Contents',
 'Table 1',
 'Table 2',
 'Table 3',
 'Table 4',
 'Table 5',
 'Explanatory notes']

In [19]:
population_sa2 = pd.read_excel('../../data/raw/external_dataset/population_sa2.csv', sheet_name=['Table 1'], header =  None)['Table 1'].drop(range(6))
year = population_sa2.iloc[0].dropna()
header = population_sa2.iloc[1]
header.iloc[10:].update(year)
population_sa2 = population_sa2[3:]
population_sa2.columns = header 
population_sa2 = population_sa2.drop(columns=['2011-2021', '%', 'Population density 2021'])
population_sa2

7,S/T code,S/T name,GCCSA code,GCCSA name,SA4 code,SA4 name,SA3 code,SA3 name,SA2 code,SA2 name,...,2015,2016,2017,2018,2019,2020,2021,NaN,NaN,Area
9,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021007,Braidwood,...,3849,3950,4039,4140,4211,4273,4330,NaN,NaN,3418.4
10,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021008,Karabar,...,8603,8531,8526,8507,8488,8519,8546,NaN,NaN,7
11,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021009,Queanbeyan,...,11213,11230,11355,11447,11450,11437,11370,NaN,NaN,4.8
12,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021010,Queanbeyan - East,...,4961,4970,5013,5072,5117,5077,5093,NaN,NaN,13
13,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021012,Queanbeyan West - Jerrabomberra,...,13164,13150,13083,13008,12935,12796,12743,NaN,NaN,13.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2467,"Source: Regional population, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2469,Â© Commonwealth of Australia 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
vic_population_sa2 = population_sa2[population_sa2['S/T name'] == 'Victoria']
vic_population_sa2 = vic_population_sa2.dropna(axis='columns')
vic_population_sa2 = vic_population_sa2.drop(columns = ['SA4 code', 'SA4 name', 'SA3 code', 'SA3 name', 'S/T code', 'GCCSA code', 'GCCSA name'])
vic_population_sa2

7,S/T name,SA2 code,SA2 name,2001,2002,2003,2004,2005,2006,2007,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Area
651,Victoria,201011001,Alfredton,5756,6092,6293,6480,6648,6761,7034,...,9714,10338,11039,11852,12639,13520,14408,15472,16823,52.7
652,Victoria,201011002,Ballarat,11497,11708,12015,12189,12269,12356,12408,...,12352,12327,12300,12301,12261,12237,12311,12183,12076,12.4
653,Victoria,201011005,Buninyong,5320,5399,5557,5620,5857,6037,6131,...,6984,7082,7191,7311,7407,7413,7452,7369,7232,51.6
654,Victoria,201011006,Delacombe,4154,4225,4371,4465,4704,5041,5206,...,6267,6583,6846,7195,7617,8174,8876,9736,10640,34.2
655,Victoria,201011007,Smythes Creek,3317,3378,3411,3473,3508,3542,3594,...,3914,3945,3966,3990,4002,4040,4109,4148,4213,104.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1168,Victoria,217031476,Otway,3452,3479,3511,3511,3492,3459,3489,...,3497,3519,3538,3556,3633,3707,3797,3905,3978,1505.9
1169,Victoria,217041477,Moyne - East,6718,6704,6676,6643,6638,6652,6606,...,6749,6734,6716,6709,6714,6741,6790,6873,6989,3275.8
1170,Victoria,217041478,Moyne - West,8317,8387,8450,8487,8517,8601,8694,...,9300,9383,9467,9603,9681,9773,9833,9842,9963,2037.8
1171,Victoria,217041479,Warrnambool - North,17053,17449,17726,17937,18172,18528,18877,...,20612,20930,21217,21442,21676,21934,22157,22379,22462,62.4
1172,Victoria,217041480,Warrnambool - South,12506,12578,12639,12697,12748,12792,12839,...,13157,13154,13150,13173,13192,13214,13247,13323,13292,120.2

In [21]:
vic_population_sa2.drop(columns=['Area']).to_csv('../../data/curated/vic_population_sa2.csv')

In [22]:
year = list(year)
year.remove('2011-2021')
year.remove('Area')
year.remove('Population density 2021')
year

[2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021]

In [23]:
for i in year:
    vic_population_sa2[f'population_density_of_{i}'] = vic_population_sa2[i]/vic_population_sa2['Area']

vic_population_density_sa2 = vic_population_sa2.drop(columns=year)
vic_population_density_sa2

7,S/T name,SA2 code,SA2 name,Area,population_density_of_2001,population_density_of_2002,population_density_of_2003,population_density_of_2004,population_density_of_2005,population_density_of_2006,...,population_density_of_2012,population_density_of_2013,population_density_of_2014,population_density_of_2015,population_density_of_2016,population_density_of_2017,population_density_of_2018,population_density_of_2019,population_density_of_2020,population_density_of_2021
651,Victoria,201011001,Alfredton,52.7,109.222011,115.597723,119.411765,122.960152,126.148008,128.29222,...,171.916509,184.326376,196.166983,209.468691,224.895636,239.829222,256.54649,273.396584,293.586338,319.222011
652,Victoria,201011002,Ballarat,12.4,927.177419,944.193548,968.951613,982.983871,989.435484,996.451613,...,996.532258,996.129032,994.112903,991.935484,992.016129,988.790323,986.854839,992.822581,982.5,973.870968
653,Victoria,201011005,Buninyong,51.6,103.100775,104.631783,107.693798,108.914729,113.507752,116.996124,...,132.829457,135.348837,137.248062,139.360465,141.686047,143.546512,143.662791,144.418605,142.810078,140.155039
654,Victoria,201011006,Delacombe,34.2,121.461988,123.538012,127.807018,130.555556,137.54386,147.397661,...,176.023392,183.245614,192.48538,200.175439,210.380117,222.719298,239.005848,259.532164,284.678363,311.111111
655,Victoria,201011007,Smythes Creek,104.7,31.680993,32.26361,32.578797,33.170965,33.505253,33.82999,...,36.981853,37.382999,37.679083,37.879656,38.108883,38.223496,38.586437,39.245463,39.617956,40.238777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1168,Victoria,217031476,Otway,1505.9,2.292317,2.310246,2.331496,2.331496,2.318879,2.296965,...,2.294973,2.322199,2.336809,2.349426,2.361379,2.412511,2.461651,2.521416,2.593134,2.64161
1169,Victoria,217041477,Moyne - East,3275.8,2.050797,2.046523,2.037975,2.027902,2.026375,2.030649,...,2.064839,2.06026,2.055681,2.050186,2.048049,2.049576,2.057818,2.072776,2.098113,2.133525
1170,Victoria,217041478,Moyne - West,2037.8,4.081362,4.115713,4.146629,4.164786,4.179507,4.220728,...,4.498479,4.563745,4.604475,4.645696,4.712435,4.750712,4.795858,4.825302,4.829718,4.889096
1171,Victoria,217041479,Warrnambool - North,62.4,273.285256,279.63141,284.070513,287.451923,291.217949,296.923077,...,324.567308,330.320513,335.416667,340.016026,343.621795,347.371795,351.50641,355.080128,358.637821,359.967949
1172,Victoria,217041480,Warrnambool - South,120.2,104.043261,104.642263,105.14975,105.63228,106.056572,106.422629,...,109.36772,109.459235,109.434276,109.400998,109.592346,109.750416,109.933444,110.207987,110.840266,110.582363

In [24]:
vic_population_density_sa2.drop(columns=['Area']).to_csv('../../data/curated/vic_population_density_sa2.csv')

income_sa2

In [25]:
xls = pd.ExcelFile('../../data/raw/external_dataset/income_2015_2019.csv')
sheets = xls.sheet_names
sheets

['Contents', 'Table 1.1', 'Table 1.2', 'Table 1.3', 'Table 1.4', 'Table 1.5']

In [26]:
income1519 = pd.read_excel(f'../../data/raw/external_dataset/income_2015_2019.csv', sheet_name=['Table 1.4'], header =  None)['Table 1.4'].drop(range(6))
persons1519 = income1519 .iloc[:, :7]
income1519 = income1519.iloc[:, 12:17]

persons_header1519 = persons1519.iloc[0]
persons1519 = persons1519[1:]
persons1519.columns = persons_header1519
i = persons1519.index[persons1519['SA2'] == 'Victoria'].tolist()[0]
j = persons1519.index[persons1519['SA2'] == 'Queensland'].tolist()[0]
persons1519 = persons1519.iloc[i-6:j-7, :]

income_header1519 = list(income1519.iloc[0])
income1519 = income1519[1:]
income1519.columns = income_header1519
income1519 = income1519.iloc[i-6:j-7, :]

income1519[income_header1519] = income1519[income_header1519].apply(pd.to_numeric, errors='coerce')

persons1519[income_header1519] = persons1519[income_header1519].apply(pd.to_numeric, errors='coerce')

for i in income_header1519:
    persons1519[i] = income1519[i]/persons1519[i]

persons1519

6,SA2,SA2 NAME,2014-15,2015-16,2016-17,2017-18,2018-19
586,201011001,Alfredton,56373.600964,57746.696785,60026.081134,62315.127415,63668.274127
587,201011002,Ballarat,67216.710660,72754.453378,71895.145248,74671.366381,77875.693878
588,201011003,Ballarat - North,53016.994081,54660.327661,56067.366669,59786.487796,60366.697603
589,201011004,Ballarat - South,45473.451837,46143.213201,47676.111970,49041.036441,50778.316302
590,201011005,Buninyong,58010.968734,58292.425144,60008.747450,61564.815018,63257.766533
...,...,...,...,...,...,...,...
1043,217031476,Otway,40639.888539,42425.576401,44235.906695,44755.438398,46448.133475
1044,217041477,Moyne - East,48626.519794,47031.049570,49103.852024,50652.260496,55572.647880
1045,217041478,Moyne - West,48279.664071,50306.901464,51459.022573,52080.290026,55546.749316
1046,217041479,Warrnambool - North,50513.442675,50938.952292,52089.753663,59811.605637,56098.576195
1047,217041480,Warrnambool - South,50662.927601,50965.406699,53225.930523,54848.550168,58246.530179

In [27]:
income1214 = pd.read_excel(f'../../data/raw/external_dataset/income_2012_2018.csv', sheet_name=['Table 1.4'], header =  None)['Table 1.4'].drop(range(6))
persons1214 = income1214.iloc[:, :5]
income1214 = income1214.iloc[:, 16:19]

persons_header1214 = persons1214.iloc[0]
persons1214 = persons1214[1:]
persons1214.columns = persons_header1214
i = persons1214.index[persons1214['SA2'] == 'Victoria'].tolist()[0]
j = persons1214.index[persons1214['SA2'] == 'Queensland'].tolist()[0]
persons1214 = persons1214.iloc[i-6:j-7, :]

income_header1214 = list(income1214.iloc[0])
income1214 = income1214[1:]
income1214.columns = income_header1214
income1214 = income1214.iloc[i-6:j-7, :]

income1214[income_header1214] = income1214[income_header1214].apply(pd.to_numeric, errors='coerce')

persons1214[income_header1214] = persons1214[income_header1214].apply(pd.to_numeric, errors='coerce')

for i in income_header1214:
    persons1214[i] = income1214[i]/persons1214[i]

persons1214

6           SA2             SA2 NAME       2011-12       2012-13       2013-14
586   201011001            Alfredton  51670.073951  52993.212211  54624.783507
587   201011002             Ballarat  61177.132231  63669.220872  65506.668018
588   201011003     Ballarat - North  48946.980038  50871.715079  52023.790882
589   201011004     Ballarat - South  41918.131939  43625.173890  44721.796782
590   201011005            Buninyong  53538.216040  55674.656008  56765.499102
...         ...                  ...           ...           ...           ...
1043  217031476                Otway  39330.688626  36935.722554  39768.884651
1044  217041477         Moyne - East  43776.493154  37883.223483  46721.779160
1045  217041478         Moyne - West  43419.626551  42510.701418  46052.713707
1046  217041479  Warrnambool - North  45988.991412  46933.500648  48440.255857
1047  217041480  Warrnambool - South  47793.555119  48726.315864  50544.447501

[462 rows x 5 columns]

In [33]:
income_per_person_sa2 = pd.merge(persons1214, persons1519, left_on='SA2', right_on='SA2')
income_per_person_sa2 = income_per_person_sa2.drop(columns='SA2 NAME_y')
header = ['SA2', 'SA2 NAME', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']
income_per_person_sa2.columns = header 
income_per_person_sa2

,SA2,SA2 NAME,2012,2013,2014,2015,2016,2017,2018,2019
0,201011001,Alfredton,51670.073951,52993.212211,54624.783507,56373.600964,57746.696785,60026.081134,62315.127415,63668.274127
1,201011002,Ballarat,61177.132231,63669.220872,65506.668018,67216.710660,72754.453378,71895.145248,74671.366381,77875.693878
2,201011003,Ballarat - North,48946.980038,50871.715079,52023.790882,53016.994081,54660.327661,56067.366669,59786.487796,60366.697603
3,201011004,Ballarat - South,41918.131939,43625.173890,44721.796782,45473.451837,46143.213201,47676.111970,49041.036441,50778.316302
4,201011005,Buninyong,53538.216040,55674.656008,56765.499102,58010.968734,58292.425144,60008.747450,61564.815018,63257.766533
...,...,...,...,...,...,...,...,...,...,...
457,217031476,Otway,39330.688626,36935.722554,39768.884651,40639.888539,42425.576401,44235.906695,44755.438398,46448.133475
458,217041477,Moyne - East,43776.493154,37883.223483,46721.779160,48626.519794,47031.049570,49103.852024,50652.260496,55572.647880
459,217041478,Moyne - West,43419.626551,42510.701418,46052.713707,48279.664071,50306.901464,51459.022573,52080.290026,55546.749316
460,217041479,Warrnambool - North,45988.991412,46933.500648,48440.255857,50513.442675,50938.952292,52089.753663,59811.605637,56098.576195
461,217041480,Warrnambool - South,47793.555119,48726.315864,50544.447501,50662.927601,50965.406699,53225.930523,54848.550168,58246.530179

In [28]:
#def vic_persons_income(file):
#    income = pd.read_excel(f'../../data/raw/external_dataset/{file}.csv', sheet_name=['Table 1.4'], header =  None)['Table 1.4'].drop(range(6))
 #   persons = income.iloc[:, :7]
#    income = income.iloc[:, 12:17]
 #   print(income)
 #   print(persons)

  #  persons_header = persons.iloc[0]
  #  persons = persons[1:]
  #  persons.columns = persons_header
  #  i = persons.index[persons['SA2'] == 'Victoria'].tolist()[0]
  #  j = persons.index[persons['SA2'] == 'Queensland'].tolist()[0]
   # persons = persons.iloc[i-6:j-7, :]

 #   income_header = list(income.iloc[0])
   # income = income[1:]
  #  income.columns = income_header
  #  income = income.iloc[i-6:j-7, :]

  #  print(income_header)
  #  print(income)
  #  print(persons)

  #  income[income_header] = income[income_header].apply(pd.to_numeric, errors='coerce')

  #  persons[income_header] = persons[income_header].apply(pd.to_numeric, errors='coerce')

    #for i in income_header:
    #    income[i] = income[i].astype(int)#apply(pd.to_numeric)

    #print(type(persons['2014-15'].iloc[1]))
    #print(type(income['2014-15'].iloc[1]))
    #for i in list(income_header):
    #    for j in range(len(income[i])):
    #        print(income[i].iloc[j])
    #        print(persons[i].iloc[j])
    #        print(j)
  #  for i in income_header:
  #      persons[i] = income[i]/persons[i]
    #        print(persons[i].iloc[j])
        
  #  return persons, income

In [29]:
#persons1519, income1519 = vic_persons_income('income_2015_2019') 
#persons1218, income1218 = vic_persons_income('income_2012_2018')

In [ ]:
income_sa2.to_csv('../../data/curated/income_sa2.csv')

In [ ]:
pip install xlrd

Requirement already satisfied: xlrd in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
income0611 = pd.read_excel('../../data/raw/external_dataset/income_2006_2011.csv', sheet_name=['Table_2'], header =  None)['Table_2'].drop(range(6))
income0611