In [1]:
import pandas as pd

In [5]:
income = pd.read_csv('../../data/curated/income_per_person_sa2.csv', index_col=[0])
income

,SA2,SA2 NAME,2012,2013,2014,2015,2016,2017,2018,2019
0,201011001,Alfredton,51670.073951,52993.212211,54624.783507,56373.600964,57746.696785,60026.081134,62315.127415,63668.274127
1,201011002,Ballarat,61177.132231,63669.220872,65506.668018,67216.710660,72754.453378,71895.145248,74671.366381,77875.693878
2,201011003,Ballarat - North,48946.980038,50871.715079,52023.790882,53016.994081,54660.327661,56067.366669,59786.487796,60366.697603
3,201011004,Ballarat - South,41918.131939,43625.173890,44721.796782,45473.451837,46143.213201,47676.111970,49041.036441,50778.316302
4,201011005,Buninyong,53538.216040,55674.656008,56765.499102,58010.968734,58292.425144,60008.747450,61564.815018,63257.766533
...,...,...,...,...,...,...,...,...,...,...
457,217031476,Otway,39330.688626,36935.722554,39768.884651,40639.888539,42425.576401,44235.906695,44755.438398,46448.133475
458,217041477,Moyne - East,43776.493154,37883.223483,46721.779160,48626.519794,47031.049570,49103.852024,50652.260496,55572.647880
459,217041478,Moyne - West,43419.626551,42510.701418,46052.713707,48279.664071,50306.901464,51459.022573,52080.290026,55546.749316
460,217041479,Warrnambool - North,45988.991412,46933.500648,48440.255857,50513.442675,50938.952292,52089.753663,59811.605637,56098.576195
461,217041480,Warrnambool - South,47793.555119,48726.315864,50544.447501,50662.927601,50965.406699,53225.930523,54848.550168,58246.530179

In [11]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression

from statsmodels.formula.api import ols