### Use Open Route Service API to retrieve distane matrix

In [1]:
import openrouteservice as ors
import pandas as pd

In [2]:
PLACE_COLS = ['Place_Names', 'latitude', 'longitude', 'year', 'place_type', 'SA2_CODE']
place_df = pd.read_csv('../../data/curated/features_of_interst/place_all_with_sa2.csv')[PLACE_COLS]
print(place_df.shape)

(70444, 6)

In [13]:
place_2021 = place_df[place_df['year'] == 2021]
print(place_2021.shape)
place_2021.head(10)

(8696, 6)

,Place_Names,latitude,longitude,year,place_type,SA2_CODE
7143,WARRAGUL HIGH SCHOOL,-38.16707,145.92237,2021,secondary,205011079
7144,MERRILANDS COLLEGE (P-12),-37.69667,145.00277,2021,secondary,209021524
7145,Oberon High School,-38.23081,144.36536,2021,secondary,203031489
7146,WINDSOR TECHNICAL SCHOOL,-37.85679,144.99598,2021,secondary,206061136
7147,WODONGA HIGH SCHOOL,-36.12561,146.88105,2021,secondary,204031492
7148,OAKLEIGH HIGH SCHOOL,-37.90290,145.11653,2021,secondary,212051326
7149,SAINT KILDA ALTERNATIVE HIGH SCHOOL,-37.85818,144.98126,2021,secondary,206051513
7150,Castlemaine High School,-37.05054,144.22750,2021,secondary,202021027
7151,TEMPLESTOWE HIGH SCHOOL,-37.77124,145.10626,2021,secondary,207021160
7152,MELBOURNE COLLEGE OF TEXTILES,-37.73485,144.93681,2021,secondary,206011109

In [14]:
PROPERTY_COLS = ['address', 'latitude', 'longitude', 'nbed', 'nbath', 'ncar', 'price', 'type', 'postcode', 'year', 'month', 'residence_type', 'SA2_CODE']
property_2021 = pd.read_csv('../../data/curated/property_all_with_SA2/2021_property_with_SA2.csv')[PROPERTY_COLS]
# 2013 example
print(property_2021.shape)
property_2021.head(10)

(26595, 13)

,address,latitude,longitude,nbed,nbath,ncar,price,type,postcode,year,month,residence_type,SA2_CODE
0,"108 ADELAIDE STREET, CHEWTON",-37.093186,144.254132,2.0,1.0,2,$340_per_week,Residential Lease,3451,2021,11,Other,202021027
1,"41A ADELAIDE STREET, CHEWTON",-37.085947,144.253552,1.0,1.0,0,$1517,House,3451,2021,4,House,202021027
2,"41A ADELAIDE STREET, CHEWTON",-37.085947,144.253552,1.0,1.0,0,$350_pw,House,3451,2021,4,House,202021027
3,"103 MAIN ROAD, CHEWTON",-37.079681,144.253064,3.0,1.0,0,$1647,House,3451,2021,2,House,202021027
4,"103 MAIN ROAD, CHEWTON",-37.079681,144.253064,3.0,1.0,0,$380_pw,House,3451,2021,2,House,202021027
5,"31 EUREKA STREET, CHEWTON",-37.080654,144.244698,4.0,1.0,1,$375_per_week,House,3451,2021,2,House,202021027
6,"31 EUREKA STREET, CHEWTON",-37.080654,144.244698,4.0,1.0,1,$375_per_week,House,3451,2021,1,House,202021027
7,"40 EPSOM ROAD, CHILTERN",-36.151454,146.605909,3.0,1.0,0,$370_per_week,House,3683,2021,9,House,204031070
8,"3/1 OXFORD STREET, CHILTERN",-36.150694,146.606488,2.0,1.0,1,$320_pw,none,3683,2021,8,Other,204031070
9,"10 DICKSON COURT, CHILTERN",-36.154027,146.602254,3.0,1.0,2,$350_per_week,House,3683,2021,4,House,204031070

In [15]:
merged_2021 = property_2021.merge(place_2021, how='inner', on='SA2_CODE')
print(merged_2021.shape)
merged_2021 = merged_2021.rename(columns={'latitude_x': 'latitude_ori', 'longitude_x': 'longitude_ori', 'latitude_y': 'latitude_des', 'longitude_y': 'longitude_des', 'year_x': 'year'})
merged_2021.drop('year_y', axis=1, inplace=True)
merged_2021.iloc[6010:6020]

(486629, 18)

,address,latitude_ori,longitude_ori,nbed,nbath,ncar,price,type,postcode,year,month,residence_type,SA2_CODE,Place_Names,latitude_des,longitude_des,place_type
6010,"115 HIGH STREET, LANCEFIELD",-37.274110,144.721490,3.0,2.0,5,$485,none,3435,2021,11,Other,210021235,ECOTHERAPY PARK,-37.34586,144.74323,park
6011,"9 GWEN PLACE, LANCEFIELD",-37.275951,144.739787,4.0,2.0,2,$515,Rental_residential,3435,2021,11,Other,210021235,CANDLEBARK SCHOOL,-37.37580,144.68423,secondary
6012,"9 GWEN PLACE, LANCEFIELD",-37.275951,144.739787,4.0,2.0,2,$515,Rental_residential,3435,2021,11,Other,210021235,ROMSEY PRIMARY SCHOOL,-37.35418,144.74538,primary
6013,"9 GWEN PLACE, LANCEFIELD",-37.275951,144.739787,4.0,2.0,2,$515,Rental_residential,3435,2021,11,Other,210021235,Clarkefield Primary School,-37.48929,144.75709,primary
6014,"9 GWEN PLACE, LANCEFIELD",-37.275951,144.739787,4.0,2.0,2,$515,Rental_residential,3435,2021,11,Other,210021235,HESKET PRIMARY SCHOOL,-37.34781,144.61978,primary
6015,"9 GWEN PLACE, LANCEFIELD",-37.275951,144.739787,4.0,2.0,2,$515,Rental_residential,3435,2021,11,Other,210021235,KERRIE PRIMARY SCHOOL,-37.38124,144.66431,primary
6016,"9 GWEN PLACE, LANCEFIELD",-37.275951,144.739787,4.0,2.0,2,$515,Rental_residential,3435,2021,11,Other,210021235,LANCEFIELD PRIMARY SCHOOL,-37.27495,144.72642,primary
6017,"9 GWEN PLACE, LANCEFIELD",-37.275951,144.739787,4.0,2.0,2,$515,Rental_residential,3435,2021,11,Other,210021235,DARRAWEIT GUIM PRIMARY SCHOOL,-37.40103,144.89357,primary
6018,"9 GWEN PLACE, LANCEFIELD",-37.275951,144.739787,4.0,2.0,2,$515,Rental_residential,3435,2021,11,Other,210021235,BOLINDA PRIMARY SCHOOL,-37.43374,144.74541,primary
6019,"9 GWEN PLACE, LANCEFIELD",-37.275951,144.739787,4.0,2.0,2,$515,Rental_residential,3435,2021,11,Other,210021235,ST MARYS SCHOOL,-37.27876,144.73173,primary

In [18]:
len(merged_2021['SA2_CODE'].unique())

499

In [16]:
merged_2021.iloc[:30]
subset = merged_2021[merged_2021['SA2_CODE'] == 205021082].reset_index(drop=True)
subset

,address,latitude_ori,longitude_ori,nbed,nbath,ncar,price,type,postcode,year,month,residence_type,SA2_CODE,Place_Names,latitude_des,longitude_des,place_type
0,"95A BOGGY CREEK ROAD, CALULU",-37.767864,147.503409,2.0,1.0,0,$270_per_week,House,3875,2021,8,House,205021082,OMEO HIGHER ELEMENTARY SCHOOL,-37.09707,147.59764,secondary
1,"95A BOGGY CREEK ROAD, CALULU",-37.767864,147.503409,2.0,1.0,0,$270_per_week,House,3875,2021,8,House,205021082,SWIFTS CREEK SCHOOL (INTERIM NAME) - SECONDARY...,-37.26683,147.72404,secondary
2,"95A BOGGY CREEK ROAD, CALULU",-37.767864,147.503409,2.0,1.0,0,$270_per_week,House,3875,2021,8,House,205021082,OMEO PRIMARY SCHOOL,-37.10022,147.59308,primary
3,"95A BOGGY CREEK ROAD, CALULU",-37.767864,147.503409,2.0,1.0,0,$270_per_week,House,3875,2021,8,House,205021082,BRUTHEN PRIMARY SCHOOL,-37.70421,147.83349,primary
4,"95A BOGGY CREEK ROAD, CALULU",-37.767864,147.503409,2.0,1.0,0,$270_per_week,House,3875,2021,8,House,205021082,MOUNT TAYLOR PRIMARY SCHOOL,-37.74429,147.59876,primary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,"37 PUNT ROAD, JOHNSONVILLE",-37.823423,147.830610,3.0,2.0,1,$290_per_week,House,3902,2021,1,House,205021082,SHANTONS PLACE,-37.61627,147.69792,park
1948,"37 PUNT ROAD, JOHNSONVILLE",-37.823423,147.830610,3.0,2.0,1,$290_per_week,House,3902,2021,1,House,205021082,LIVINGSTONE CREEK RESERVE,-37.09883,147.59129,park
1949,"37 PUNT ROAD, JOHNSONVILLE",-37.823423,147.830610,3.0,2.0,1,$290_per_week,House,3902,2021,1,House,205021082,BENAMBRA MEMORIAL RECREATION RESERVE,-36.94348,147.69955,park
1950,"37 PUNT ROAD, JOHNSONVILLE",-37.823423,147.830610,3.0,2.0,1,$290_per_week,House,3902,2021,1,House,205021082,ENSAY RECREATION RESERVE,-37.38307,147.82309,park
1951,"37 PUNT ROAD, JOHNSONVILLE",-37.823423,147.830610,3.0,2.0,1,$290_per_week,House,3902,2021,1,House,205021082,DARGO RECREATION RESERVE,-37.45627,147.25060,park

In [ ]:
subset['Place_Na']

In [151]:
locations = [ (x[2], x[1]) for x in merged_2021.iloc[:1].to_numpy() ] # first property long, lats
locations += [ (x[2], x[1]) for x in merged_2021.iloc[10:11].to_numpy() ] # second property long lats
locations += [ (x[2], x[1]) for x in merged_2021.iloc[20:21].to_numpy() ] # third property long lats
locations += [ (x[2], x[1]) for x in merged_2021.iloc[30:31].to_numpy() ] # fourth property long lats
locations += [ (x[2], x[1]) for x in merged_2021.iloc[40:41].to_numpy() ] # fifth property long lats

locations += [ (x[15], x[14]) for x in merged_2021.iloc[:10].to_numpy() ] # places needing distances for previous properties
locations += [(144.962379, -37.810454)]
locations

[(144.261809, -37.080111),
 (144.259245, -37.081326),
 (144.259378, -37.080952),
 (144.259378, -37.080952),
 (144.256513, -37.082086),
 (144.201259982313, -37.0817900019732),
 (144.21378998508, -37.0631599986733),
 (144.258479992296, -37.0848499997293),
 (144.207489980437, -37.0701600003064),
 (144.218989994741, -37.0578299989792),
 (144.222329978283, -37.0666000002522),
 (144.261159985099, -37.0823299998888),
 (144.204659996604, -37.0929300012648),
 (144.22750002004, -37.0505400004888),
 (144.220979981831, -37.0634599991444),
 (144.962379, -37.810454)]

In [152]:
sources = [0, 1, 2, 3, 4]
destinations = [x for x in range(5, 15+1)] # destination indices, last one is to melbourne cbd
destinations

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
client = ors.Client('5b3ce3597851110001cf6248ce6c95ac96814219a4c3a7741f323b73')

In [153]:
distance_matrix = ors.distance_matrix.distance_matrix(client=client, locations=locations, profile='driving-car', sources=sources, destinations=destinations, metrics=['distance', 'duration'])
distance_matrix

{'durations': [[554.61,
   440.33,
   98.8,
   603.94,
   408.44,
   305.4,
   42.41,
   630.9,
   586.32,
   425.58,
   5267.17],
  [541.12,
   426.84,
   85.31,
   590.45,
   394.95,
   291.91,
   45.03,
   617.41,
   572.83,
   412.09,
   5282.11],
  [534.52,
   420.24,
   78.71,
   583.85,
   388.35,
   285.31,
   35.05,
   610.81,
   566.23,
   405.49,
   5272.12],
  [534.52,
   420.24,
   78.71,
   583.85,
   388.35,
   285.31,
   35.05,
   610.81,
   566.23,
   405.49,
   5272.12],
  [533.06,
   418.78,
   46.0,
   582.39,
   386.89,
   283.85,
   84.06,
   609.35,
   564.77,
   404.03,
   5321.14]],
 'distances': [[6957.01,
   5322.71,
   1115.08,
   6054.93,
   5756.05,
   4241.26,
   322.18,
   8123.12,
   7544.4,
   4898.58,
   116491.22],
  [6723.16,
   5088.87,
   881.23,
   5821.09,
   5522.2,
   4007.42,
   356.88,
   7889.27,
   7310.56,
   4664.73,
   116731.2],
  [6716.86,
   5082.56,
   874.93,
   5814.79,
   5515.9,
   4001.11,
   294.09,
   7882.97,
   7304.25,
   4658.43,
   116668.41],
  [6716.86,
   5082.56,
   874.93,
   5814.79,
   5515.9,
   4001.11,
   294.09,
   7882.97,
   7304.25,
   4658.43,
   116668.41],
  [6568.12,
   4933.82,
   451.44,
   5666.04,
   5367.16,
   3852.37,
   785.37,
   7734.23,
   7155.51,
   4509.69,
   117159.7]],
 'destinations': [{'location': [144.202933, -37.081163],
   'snapped_distance': 163.99},
  {'location': [144.214, -37.063315], 'snapped_distance': 25.4},
  {'location': [144.25827, -37.085332], 'snapped_distance': 56.72},
  {'location': [144.208035, -37.070215], 'snapped_distance': 48.77},
  {'location': [144.219049, -37.057499], 'snapped_distance': 37.22},
  {'location': [144.221906, -37.066554], 'snapped_distance': 37.92},
  {'location': [144.261141, -37.081859], 'snapped_distance': 52.43},
  {'location': [144.203938, -37.092846], 'snapped_distance': 64.75},
  {'location': [144.227183, -37.050519], 'snapped_distance': 28.19},
  {'location': [144.221074, -37.063471], 'snapped_distance': 8.39},
  {'location': [144.962155, -37.810244], 'snapped_distance': 30.52}],
 'sources': [{'location': [144.261555, -37.080152], 'snapped_distance': 22.96},
  {'location': [144.259083, -37.081331], 'snapped_distance': 14.36},
  {'location': [144.259383, -37.080973], 'snapped_distance': 2.41},
  {'location': [144.259383, -37.080973], 'snapped_distance': 2.41},
  {'location': [144.25662, -37.082362], 'snapped_distance': 32.07}],
 'metadata': {'attribution': 'openrouteservice.org | OpenStreetMap contributors',
  'service': 'matrix',
  'timestamp': 1663088846668,
  'query': {'locations': [[144.261809, -37.080111],
    [144.259245, -37.081326],
    [144.259378, -37.080952],
    [144.259378, -37.080952],
    [144.256513, -37.082086],
    [144.201259982313, -37.0817900019732],
    [144.21378998508, -37.0631599986733],
    [144.258479992296, -37.0848499997293],
    [144.207489980437, -37.0701600003064],
    [144.218989994741, -37.0578299989792],
    [144.222329978283, -37.0666000002522],
    [144.261159985099, -37.0823299998888],
    [144.204659996604, -37.0929300012648],
    [144.22750002004, -37.0505400004888],
    [144.220979981831, -37.0634599991444],
    [144.962379, -37.810454]],
   'profile': 'driving-car',
   'responseType': 'json',
   'metricsStrings': ['DISTANCE', 'DURATION'],
   'sources': ['0', '1', '2', '3', '4'],
   'destinations': ['5',
    '6',
    '7',
    '8',
    '9',
    '10',
    '11',
    '12',
    '13',
    '14',
    '15'],
   'metrics': ['distance', 'duration']},
  'engine': {'version': '6.7.0',
   'build_date': '2022-02-18T19:37:41Z',
   'graph_date': '2022-09-04T14:30:21Z'}}}

In [181]:
fake_df = pd.DataFrame([1,2,3], columns=['num'])
fake_df['new'] = np.re

   num
0    1
1    2
2    3

In [182]:
import numpy as np
empty_list = []
lst = []
distance_matrix['distances']
empty_list += [each for sublist in distance_matrix['distances'] for each in sublist[-1:]]
lst += list(np.repeat(empty_list, 10))
lst

[116491.22,
 116491.22,
 116491.22,
 116491.22,
 116491.22,
 116491.22,
 116491.22,
 116491.22,
 116491.22,
 116491.22,
 116731.2,
 116731.2,
 116731.2,
 116731.2,
 116731.2,
 116731.2,
 116731.2,
 116731.2,
 116731.2,
 116731.2,
 116668.41,
 116668.41,
 116668.41,
 116668.41,
 116668.41,
 116668.41,
 116668.41,
 116668.41,
 116668.41,
 116668.41,
 116668.41,
 116668.41,
 116668.41,
 116668.41,
 116668.41,
 116668.41,
 116668.41,
 116668.41,
 116668.41,
 116668.41,
 117159.7,
 117159.7,
 117159.7,
 117159.7,
 117159.7,
 117159.7,
 117159.7,
 117159.7,
 117159.7,
 117159.7]

In [100]:
distance_list = []
time_list = []
distance_list += distance_matrix['distances'][0]
time_list += distance_matrix['durations'][0]
distance_list

[6957.01,
 5322.71,
 1115.08,
 6054.93,
 5756.05,
 4241.26,
 322.18,
 8123.12,
 7544.4,
 4898.58,
 6957.01,
 5322.71,
 1115.08,
 6054.93,
 5756.05,
 4241.26,
 322.18,
 8123.12,
 7544.4,
 4898.58,
 6957.01,
 5322.71,
 1115.08,
 6054.93,
 5756.05,
 4241.26,
 322.18,
 8123.12,
 7544.4]

In [ ]:
{'durations': [[554.61,
   440.33,
   98.8,
   603.94,
   408.44,
   305.4,
   42.41,
   630.9,
   586.32,
   425.58],
  [541.12,
   426.84,
   85.31,
   590.45,
   394.95,
   291.91,
   45.03,
   617.41,
   572.83,
   412.09],
  [534.52,
   420.24,
   78.71,
   583.85,
   388.35,
   285.31,
   35.05,
   610.81,
   566.23,
   405.49]],
 'distances': [[6957.01,
   5322.71,
   1115.08,
   6054.93,
   5756.05,
   4241.26,
   322.18,
   8123.12,
   7544.4,
   4898.58],
  [6723.16,
   5088.87,
   881.23,
   5821.09,
   5522.2,
   4007.42,
   356.88,
   7889.27,
   7310.56,
   4664.73],
  [6716.86,
   5082.56,
   874.93,
   5814.79,
   5515.9,
   4001.11,
   294.09,
   7882.97,
   7304.25,
   4658.43]],
 'destinations': [{'location': [144.202933, -37.081163],
   'snapped_distance': 163.99},
  {'location': [144.214, -37.063315], 'snapped_distance': 25.4},
  {'location': [144.25827, -37.085332], 'snapped_distance': 56.72},
  {'location': [144.208035, -37.070215], 'snapped_distance': 48.77},
  {'location': [144.219049, -37.057499], 'snapped_distance': 37.22},
  {'location': [144.221906, -37.066554], 'snapped_distance': 37.92},
  {'location': [144.261141, -37.081859], 'snapped_distance': 52.43},
  {'location': [144.203938, -37.092846], 'snapped_distance': 64.75},
  {'location': [144.227183, -37.050519], 'snapped_distance': 28.19},
  {'location': [144.221074, -37.063471], 'snapped_distance': 8.39}],
 'sources': [{'location': [144.261555, -37.080152], 'snapped_distance': 22.96},
  {'location': [144.259083, -37.081331], 'snapped_distance': 14.36},
  {'location': [144.259383, -37.080973], 'snapped_distance': 2.41}],
 'metadata': {'attribution': 'openrouteservice.org | OpenStreetMap contributors',
  'service': 'matrix',
  'timestamp': 1663084985003,
  'query': {'locations': [[144.261809, -37.080111],
    [144.259245, -37.081326],
    [144.259378, -37.080952],
    [144.201259982313, -37.0817900019732],
    [144.21378998508, -37.0631599986733],
    [144.258479992296, -37.0848499997293],
    [144.207489980437, -37.0701600003064],
    [144.218989994741, -37.0578299989792],
    [144.222329978283, -37.0666000002522],
    [144.261159985099, -37.0823299998888],
    [144.204659996604, -37.0929300012648],
    [144.22750002004, -37.0505400004888],
    [144.220979981831, -37.0634599991444]],
   'profile': 'driving-car',
   'responseType': 'json',
   'metricsStrings': ['DISTANCE', 'DURATION'],
   'sources': ['0', '1', '2'],
   'destinations': ['3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
   'metrics': ['distance', 'duration']},
  'engine': {'version': '6.7.0',
   'build_date': '2022-02-18T19:37:41Z',
   'graph_date': '2022-09-04T14:30:21Z'}}}

In [ ]:
import openrouteservice as ors
import numpy as np

"""This function accepts a property-place merged csv, and compute the distance/time travelled by car from each property to the parks/schools/stations, 
and to Melbourne Central"""

def add_distance_time(property_place_csv):
    client = ors.Client('5b3ce3597851110001cf6248ce6c95ac96814219a4c3a7741f323b73') # philip's api key
    to_place_distances = []
    to_place_times = []
    to_cbd_distances = []
    to_cbd_times = []

    for code in merged_2013['SA2_CODE'].unique():
        locations_coor = []
        sources_index = []
        destinations_index = []
        temp_list1 = []
        temp_list2 = []

        subset = merged_2013[merged_2013['SA2_CODE'] == code].reset_index(drop=True)
        count_places = subset['Place_Names'].nunique() # e.g. 10 places for 202021027
        i = 0
        while i < (len(subset) // count_places): # e.g. 210 // 10 = 21 properties for 202021027
            locations_coor.append((subset.iloc[i * count_places]['longitude_ori'], subset.iloc[i * count_places]['latitude_ori'])) # append a tuple of origin long/lat coordinates
            sources_index.append(i) # append origin indices
            i += 1

        locations_coor += [ (x[15], x[14]) for x in merged_2013.iloc[:count_places]] # 15 is place longitude, 14 is place latitude, add all places right after property coordinates
        locations_coor += [(144.962379, -37.810454)] # add melbourne central coordinates to the end

        destinations_index += [x for x in range(i, i+count_places+1)] # destination indices right after origin indices, add uptil all places have been added 

        # request the distance matrix for each property to all places under current SA2 code
        distance_matrix = ors.distance_matrix.distance_matrix(client=client, locations=locations, profile='driving-car', sources=sources, destinations=destinations, metrics=['distance', 'duration'])

        to_place_distances += [each for sublist in distance_matrix['distances'] for each in sublist[:-1]]
        to_place_times += [each for sublist in distance_matrix['durations'] for each in sublist[:-1]]
        temp_list1 += [each for sublist in distance_matrix['distances'] for each in sublist[-1:]]  # get the cbd distances
        temp_list2 += [each for sublist in distance_matrix['durations'] for each in sublist[-1:]]  # get the cbd times
        to_cbd_distances += list(np.repeat(temp_list1, count_places))  # repeat N (place count) times for each property to keep the format
        to_cbd_times += list(np.repeat(temp_list2, count_places))

    property_place_csv['dist_to_place_M'] = to_place_distances
    property_place_csv['dist_to_place_KM'] = property_place_csv['dist_to_place_M'] / 1000
    property_place_csv['time_to_place_S'] = to_place_times
    property_place_csv['time_to_place_MIN'] = property_place_csv['time_to_place_S'] / 60
    
    property_place_csv['dist_to_cbd_M'] = to_cbd_distances
    property_place_csv['dist_to_cbd_KM'] = property_place_csv['dist_to_cbd_M'] / 1000
    property_place_csv['time_to_cbd_S'] = to_cbd_times
    property_place_csv['time_to_cbd_MIN'] = property_place_csv['dist_to_cbd_S'] / 60
    
    return property_place_csv