In [4]:
import pandas as pd
df_train = pd.read_csv("../../data/raw/train_raw.csv")
df_tram = pd.read_csv("../../data/raw/tram_raw.csv")

In [5]:
df_tram.head()

,Unnamed: 0,STOP_ID,STOP_NAME,LATITUDE,LONGITUDE,TICKETZONE,ROUTEUSSP,geometry,postcode,suburb
0,0,18730,134-Merribell Ave/Nicholson St (Coburg),-37.744359,144.977728,1,1,POINT (144.97773390165608 -37.74434586797992),3058,COBURG
1,1,18732,44-Deepdene Park/Whitehorse Rd (Balwyn),-37.811375,145.068671,1,109,POINT (145.0686770785946 -37.81136185463405),3103,DEEPDENE
2,2,18733,45-Hardwicke St/Whitehorse Rd (Balwyn),-37.811750,145.071785,1,109,POINT (145.07179107801323 -37.81173688485068),3103,DEEPDENE
3,3,18734,46-Balwyn Cinema/Whitehorse Rd (Balwyn),-37.812242,145.075930,1,109,POINT (145.07593575724027 -37.81222882513891),3103,BALWYN
4,4,18735,47-Balwyn Rd/Whitehorse Rd (Balwyn),-37.812919,145.081524,"1,2",109,POINT (145.08152979619558 -37.81290580552812),3103,BALWYN

In [6]:
df_train.head()

,Unnamed: 0,STATION,STATUS,STOPID_MTR,STID_VLINE,PREMIUM,METRO,VLINE,INTERSTATE,STOP_ZONE,COMMENTS,geometry,postcode,suburb
0,0,Dandenong,Active,19888.0,22250.0,Yes,Yes,Yes,No,"Reg, 2",Metro Interchange,POINT (145.20964487441773 -37.98992085547722),3175,DANDENONG
1,1,Darebin,Active,19932.0,NaN,No,Yes,No,No,1,NaN,POINT (145.03862792779512 -37.774802842342275),3079,IVANHOE
2,2,Darling,Active,19837.0,NaN,Yes,Yes,No,No,"1, 2",NaN,POINT (145.06267891336995 -37.86866984457693),3145,MALVERN EAST
3,3,Deer Park,Active,NaN,19982.0,No,No,Yes,No,"Reg, 2",NaN,POINT (144.77122097388494 -37.77750382414591),3023,DEER PARK
4,4,Dennis,Active,19929.0,NaN,No,Yes,No,No,1,NaN,POINT (145.00871193250416 -37.77917984031731),3070,NORTHCOTE